/** 
Mise en page générale avec display:grid

*/

.site__entete{
    grid-area: header;
    padding: 1rem clamp(1rem, 3vw, 20rem);
    background-color: transparent;
}

.site__main{
    grid-area: main;
    //padding: 1rem clamp(1rem, 3vw, 20rem);
    background-color: rgb(56, 56, 56);
}

.site__footer{
    grid-area: footer;
    //padding: 1rem clamp(1rem, 3vw, 20rem);
    background-color: rgb(159, 159, 159);
}

.site__aside{
    grid-area: aside;
  
    background-color: rgb(159, 159, 159);
}

.site{
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
    "header"  
    "aside"
    "main"
    "footer";
    //row-gap: 50px;
    @media screen and (min-width: $largeur__bureau) {
        grid-template-columns: 20% auto;
        grid-template-areas:
            "header header"
            "aside main"
            "footer footer"
        
    }
}

.no-aside {
    grid-template-areas:
    "header"  
    "main"
    "footer"; 

    @media screen and (min-width: $largeur__bureau) {
        grid-template-columns: auto;
        grid-template-areas:
            "header"
            "main"
            "footer"
        
    }
}

aside .menu-item::before {
    content: "";
    background: transparent;
    border-radius: 0;
    padding-inline: 0;
    margin-inline-end: 0;
} 

aside li {
    list-style-type: none;
}

.site__aside .menu-item {
    border: rgb(0, 225, 225) 2px solid;
    margin: 1rem;
}

#menu-4w4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @media screen and (min-width: $largeur__bureau) {
        flex-direction: column;
    }
}

#menu-4w4 li {
    padding: 1rem;
    text-align: center;
    background-color: rgb(231, 231, 231);
}

#menu-cours li {
    background-color: rgb(231, 231, 231);
}

aside h3 {
    text-align: center;
}