.erreur {

    display: block;
    text-align: center;
    
    margin-bottom: 3rem;
    margin-top: 2rem;

    @media screen and (min-width:$largeur__bureau) {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        
    }
}