.erreur {

    display: block;
    text-align: center;
    
    margin-bottom: 3rem;
    margin-top: 2rem;

    @media screen and (min-width:$largeur__bureau) {
        display: block;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        
    }
}

.erreur h1 {
    text-align: center;
}

#404__erreur {
    background-color: rgb(255, 255, 255, 0);
}

.erreur ul {
    display: flex;
    flex: wrap;
}