.blocflex {
    display: block;

    @media screen and (min-width: $largeur__bureau) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        min-height: 50vh;
    }

}

.blocflex__article {
        text-align: center;
        flex : 1 0 200px;
        padding : 20px;
        padding-right: 50px;
        padding-left: 50px;
        margin : 5px;
        margin-bottom: 20px;
        border : 3px solid rgb(0, 222, 222);
        
        background-color: rgb(231, 231, 231);
        margin: 2rem;
        transition: scale 0.5s ease-in-out;

        @media screen and (min-width: $largeur__bureau) {
            text-align: left;
        }
    }

.blocflex__article:hover {
    scale: 1.07;
}

.blocflex .blocflex__article p {
    width: 100%;
    font-size: 1.4rem;
}

.blocflex .blocflex__article h5 {
    text-align: center;
    font-size: 2rem;
}

.blocflex__galerie {
    
    
    
    flex : 1 0 100%;
        
    border: red 1px solid;
        
    }

.galerie {
    display: flex;
    flex-direction: column;
    
    border: green 1px solid;
    align-self: center;
    

    @media screen and (min-width: $largeur__bureau) {
        flex-direction: row;
    }
}

.wp-block-gallery.has-nested-images.columns-6 figure.wp-block-image:not(#individual-image) {
        width: 60%;

    @media screen and (min-width: $largeur__bureau) {
        width: 10%;
        flex: 1 0 200px;
    }
}

.wp-block-gallery.has-nested-images.columns-4 figure.wp-block-image:not(#individual-image) {
    width: 65%;

    @media screen and (min-width: $largeur__bureau) {
        width: 10%;
        flex: 1 0 350px;
    }
}

.blocflex__figure {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    img {
        display: block;
        width: 150px;
    }
}

.bloc__viewport li::before {
    content: "";
    background: transparent;
    border-radius: 0;
    padding-inline: 0;
    margin-inline-end: 0;
}

.bloc__viewport #menu-bloc-archive {
    background-color: transparent;
}

.bloc__viewport #menu-bloc-archive li {
    background-color: rgb(231, 231, 231);
    width: 50%;
    margin: auto auto;
    margin-bottom: 3rem;
    border : 2px solid rgb(0, 222, 222);
    padding: 2rem;
    font-size: 1.5rem;
}

.bloc__viewport h2 {
    color: rgb(0, 222, 222);
}