.blocflex {
    display: block;

    @media screen and (min-width: $largeur__bureau) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        min-height: 100vh;
    }

}

.blocflex__article {
        text-align: center;
        flex : 1 0 200px;
        padding : 20px;
        padding-right: 100px;
        padding-left: 100px;
        margin : 5px;
        margin-bottom: 20px;
        border : 3px solid rgb(0, 222, 222);
        
        background-color: rgb(231, 231, 231);
        margin: 2rem;
        transition: scale 0.5s ease-in-out;

        @media screen and (min-width: $largeur__bureau) {
            text-align: left;
        }
    }

.blocflex__article:hover {
    scale: 1.07;
}

.blocflex__galerie {
        flex : 1 0 100%;
    }

.blocflex__figure {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    img {
        display: block;
        width: 150px;
    }
}
