.blocflex {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    // Cette déclaration sera meilleur quand min() sera mieux supporté
    // grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr));
    gap: 2rem;
    margin: 2rem;

article {
        flex : 1 0 200px;
        padding : 20px;
        padding-right: 100px;
        padding-left: 100px;
        margin : 5px;
        margin-bottom: 20px;
        border : 2px solid white;
        border-radius: 20%;
        background-color: rgb(202, 202, 202);
    }
}