.entete__nav{
    display : flex;
    justify-content: space-between;
    align-items: center;

}



.site__titre {
    font-size: clamp(1rem, 0.3864rem + 2.4545vw, 4.375rem);

    a {
        text-decoration: none;
    }
}

.menu__recherche {
    display : flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    padding-top: 1rem;
    @media screen and (min-width : 800px) {
        flex-direction: row;
        align-items: center;
    }
}

/* ///////////////////////////////// menu__entete */
.menu__entete{ // nav

    .menu { // ul
            display : flex;
            flex-direction: column;
            list-style-type: none;
            justify-content: flex-end;
            
            //transform : translateX(30rem);
            @media screen and (min-width:800px) {
                flex-direction: row;
                transform : translateX(0);
            }
        .menu-item { // li

            a{
                padding : 3px 5px;
            }

        }
        .menu-item::before {
            content: "";
            background: transparent;
            border-radius: 0;
            padding-inline: 0;
            margin-inline-end: 0;
        } 

    }

}