.entete__nav{
    display : flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
}



.site__titre {
    font-size: clamp(1rem, 0.3864rem + 2.4545vw, 4.375rem);

    a {
        text-decoration: none;
    }
}

/* ///////////////////////////////// menu__entete */
.menu__entete{ // nav

    .menu { // ul
            
            display : flex;
            list-style-type: none;
            justify-content: flex-end;
           

        .menu-item { // li

            a{
                padding : 3px 5px;
                
            }

            
        }
        
        .menu-item::before {
            content: "";
            background: transparent;
            border-radius: 0;
            padding-inline: 0;
            margin-inline-end: 0;
        }
        
    }

}