.menu-evenement-container { //nav

    

    .menu { //ul

        display: flex;
        justify-content: space-between;

        .menu-item{ //li
            display: flex;
            flex-direction: column;
            border: 1px solid #aaa;
            height: 100px;
            margin: 1rem;
        }
    }
}