.menu-evenement-container { //nav

    

    .menu { //ul

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex: 4 0 400%;

        

        .menu-item{ //li
            display: flex;
            flex-direction: column;
            border: 1px solid #aaa;
            height: 100px;
            margin: 0.5rem;

            a {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                text-align: center;
                .title{
                    font-size: 1.5rem;
                }
                .description{
                    font-size: .8rem;
                }
                .menu-thumbnail{
                    display: block;
                    width: 150px;
                    height: 150px;
                }
            }
        }
    }
}

#menu-evenement {
    height: 60%;
    background-color: transparent;
}

#menu-evenement img {
    margin-top: 2rem;
}

#menu-evenement li::before {
    content: "";
    background: transparent;
    border-radius: 0;
    padding-inline: 0;
    margin-inline-end: 0;
} 

#menu-evenement li {
    height: 45%;
    padding: 0.5rem;
    background-color: rgb(231, 231, 231);
    border: 2px solid rgb(0, 230, 230);
}
