.menu-cours-container{

    .menu{
        display : flex;
        flex-direction: row;
        flex-wrap: wrap;
        @media screen and (min-width:$largeur__bureau) {
            flex-direction: column;
            justify-content: flex-start;
        }

    .menu-item{
        flex: 1 0 40px;
        a{
            display : flex;
            flex-direction: row; 
            justify-content: flex-start;
            align-items: center;
            padding : 10px;
            
            @media screen and (min-width:$largeur__bureau) {


               justify-content: flex-start;
               flex-wrap: nowrap;

            }
            code{

            }
            p{
                display : none;
                @media screen and (min-width:$largeur__bureau) {
                    display: block;
            } // p 
            } 
        } //a 
    } //// .menu-item   
} // .menu
} //.menu-cours-container

.img__archive{
    background-image: url(https://static.wikia.nocookie.net/dragonball/images/d/d3/GohanInHighSchool_2.jpg/revision/latest?cb=20110526224011);
}

.archive__cours .img__archive{
    background-image: url(https://static.wikia.nocookie.net/dragonball/images/d/d3/GohanInHighSchool_2.jpg/revision/latest?cb=20110526224011);
   
}

.archive__4w4 .img__archive{

}
