.footer__ensemble {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto auto;
    padding-top: 3rem;

    @media screen and (min-width:$largeur__bureau) {
        padding-top: 0rem;
        flex-direction: row;
        justify-content: space-evenly;
        padding-left: 0rem;
    }
}

.lienimportant .menu__entete {
    transform: translateX(0px);
}

.lienimportant .menu__entete .menu {
    display: flex;
    
    align-items: center;
    flex-direction: column;
    
    padding: 0;
    
}

.lienimportant .menu__entete .menu .menu-item a {
   padding: 1px;
}

.reseaux {
    height: 200%;
    
}

.reseaux .reseauxicons {
    display: flex;
    flex-direction: column;
    gap: 1px;
    width: 80%;
    margin: auto auto;
}

.reseaux .reseauxicons img {
    transition: scale 0.5s ease-in-out;
    
}

.reseaux .reseauxicons img:hover {
    scale: 1.3;
}

.reseaux .reseauxicons p {
    margin: 0.3rem;
    
}

.footer__ensemble section {
    margin-top: 1rem;
    margin-bottom: 1rem;

    @media screen and (min-width:$largeur__bureau){
        margin-top: 2rem;
        margin-bottom: 2rem;
        
    }
}

.footer__ensemble p {
    font-size: 1.2em;
}

.footer__ensemble h3 {
    font-size: 2em;
}

.site__footer .footer__ensemble .lienimportant .menu-item {
    background: transparent;
    border: none;
    
}

.widgetvideo {

    display: block;
    text-align: center;
    margin: auto auto;
    width: 80%;

    @media screen and (min-width:$largeur__bureau){
        
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        
    }

}

.widget section {
    margin-bottom: 3rem;
}

.wp-element-caption {
    margin: auto auto;
    text-align: center;
    border: 1px solid rgb(231, 231, 231);
    width: 80%;
    padding: 0.5rem;
}

.wp-block-embed__wrapper {
    border: 3px solid rgb(231, 231, 231);
}

.widgetimage {

    display: block;
    text-align: center;
    margin: auto auto;
    width: 80%;
    margin-top: 2rem;

    @media screen and (min-width:$largeur__bureau){
        
        display: flex;
        justify-content: space-evenly;
        width: 80%;
        
    }

}

.widgetimage img {
    width: 66%;
}

