.footer__ensemble {
    
    display: block;
    text-align: center;
    margin: auto auto;

    @media screen and (min-width:800px) {
        
        display: flex;
        justify-content: space-evenly;
        padding-left: 0rem;
    }
}

.footer__ensemble section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.footer__ensemble p {
    font-size: 1.2em;
}

.footer__ensemble h3 {
    font-size: 2em;
}