ul,
ol {
    margin-top: 0rem 0rem;
    padding: 3px;
    color: #555;
    @media screen and (min-width: 700px) {
        margin-top: 1rem .5rem;
        padding: 10px;
    }
}

main ul {
    list-style-type: none;
    margin-left: 5rem;
    margin-right: 5rem;
    background-color: rgb(231, 231, 231);
    border: 3px solid goldenrod;
}

ul li, 
ol li {
    margin: .5rem 0rem;
}

li > ol {}
li > ul {}

main pre {

    background-color : #555;
    color : #eee;
    overflow-x: scroll;
    width: 20%;
    margin: auto auto;
    text-align: center;
    
}

main article pre {
    width: 75%;
    text-align: left;
}

ul li ul {
    border: none;
}

ul li::before {
    content: "-";
    background:darkgoldenrod;
    border-radius: .5rem;
    padding-inline: .3rem;
    margin-inline-end: .3rem;
}

code {}

strong{}

hr {}

blockquote {

}

article h3 {
    margin-left: 3rem;
}

article h2 {
    margin-left: 3rem;
    color: goldenrod;
}

main article p {
    margin-left: 5rem;
    margin-right: 5rem;
    background-color: rgb(231, 231, 231);

    border: 3px solid goldenrod;
}

main section article p {
    margin-left: 0;
    color: black;
    border: none;
}



body {
    background-color: rgb(39, 39, 39);
    font-family: "Source Sans Pro";
}

a:link {
    color:rgb(127, 189, 34);
}

a:visited {
    color: crimson;
}
